.coms-header {
    height: 109px;
    border-bottom: 1px solid #dddddd;
    .logo {
        float: left;
        margin-top: 30px;
        position: relative;
        a {
            width: 131px;
            height: 48px;
            overflow: hidden;
            text-indent: -999999px;
            display: block;
            background: url("/static/common/images/coms_header_logo.png") no-repeat top center;
        }
        .beta {
            position: absolute;
            background: #777777;
            right: 3px;
            top: 0px;
            height: 14px;
            line-height: 14px;
            padding: 0 3px;
            font-size: 12px;
            border-radius: 2px;
            color: #fff;
        }
    }
    .header-nav {
        float: left;
        padding-left: 80px;
        li {
            float: left;
            margin: 0 28px;
            line-height: 109px;
            display: inline;
            a {

                position: relative;
                color: #444444;
                font-size: 16px;
                line-height: normal;
                font-weight: 700;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -4px;
                    height: 2px;
                    background: #92764a;
                    width: 0;
                    transition: all 0.25s ease-out;
                }
                &:hover {
                    text-decoration: none;
                    color: #92764a;
                    &:after {
                        left: 0;
                        width: 100%;
                    }
                }
            }
            &.current {
                a {
                    color: #92764a;
                    &:after {
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.coms-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}





.coms-footer {
    border-top: 1px solid #dddddd;
    padding: 15px 0;
    .ft_logo {
        width: 76px;
        height: 27px;
        float: left;
        overflow: hidden;
        background: url("/static/common/images/coms_ft_logo.png") no-repeat top center;
    }
    .slogan {
        float: left;
        margin-top: 7px;
        color: #555555;
        margin-left: 10px;
    }
    .copyright {
        float: right;
        color: #999999;
        font-size: 12px;
        margin-top: 7px;
    }
}

.coms-load-more {
    padding: 20px 0 30px;
    .pic {
        width: 36px;
        height: 21px;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        background: url("/static/common/images/coms_load_more.png") no-repeat 0 0;
        animation: animateLoadingIcon steps(4, end) 2s infinite;
    }
}

@keyframes animateLoadingIcon {
    0% {
        background-position: 0 0;
    }
    100% {

        background-position: -144px 0;
    }
}