.aboutgs-container {
    border: 1px solid #dddddd;
    width: 998px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    min-height: 500px;
}


.aboutgs-aside {
    width: 149px;
    border-right: 1px solid #eeeeee;
    background: #f9f9f9;
    overflow: hidden;
    position:absolute;
    left:0;
    top:0;
    bottom:0;

    ul {
        padding:20px 19px 0 19px;
        li{
        	margin-bottom:12px;
        	a{
        		color:#333333;
        		position: relative;
				display: block;
        		i{
					width: 6px;
					height: 12px;
					overflow: hidden;
					background:url("../images/arrow_r_1.png")  no-repeat top center;
					position: absolute;
					top:50%;
					margin-top: -6px;
					right: 5px;
					visibility: hidden;
					opacity: 0;
					transition: all 0.25s ease-out; 
				}
				&:hover{
					color:#92764a;
					text-decoration: none;
					i{
						right: 0px;
						opacity: 1;
						visibility: visible;
					}
				}  
        	}
        	&.current{
				a{
					color:#92764a;
					i{
						right: 0px;
						visibility:visible;
						opacity:1;
					}
				}
			}
        }
    }
}
.aboutgs-content{
	margin-left:150px;
	overflow:hidden;
	
}

.aboutgs-intro{
	padding:0 35px 35px;
	.tit{
		color:#222222;
		font-weight:500;
		font-size: 18px;
		margin:25px 0 10px;
	}
	.detail{
		color:#333333;
		line-height: 25px;
		overflow:hidden;
		img{
			max-width: 100%;
		}
	}
}

.aboutgs-suggest{
	padding:0 35px 35px;
	.tit{
		color:#222222;
		font-weight:500;
		font-size: 18px;
		margin:25px 0 5px;
	}
	.tip-1{
		color:#999999;
		font-size:14px;
	}
	.suggest-form{
		width:500px;
		textarea{
			width:480px;
			height:130px;
			padding:5px 9px;
			border:1px solid #dddddd;
			background:#f9f9f9;
			border-radius:3px;
			margin-top:18px;
		}
		.ipt-submit{
			width:98px;
			height:32px;
			overflow:hidden;
			background:#d3c8b7;
			border:none;
			color:#fff;
			cursor:pointer;
			border-radius:3px;
			margin-top:5px; 
			&:hover{
				background:darken(#d3c8b7,5%) 
			} 
		}

	}
}