@import "./scss/_funVar.scss";
.aside-box{
	padding: 0 19px;
	.caption{
		font-size:12px;
		color:#666666; 
		height: 38px;
		line-height: 38px;
		border-bottom:1px solid #dddddd;
	}
	.list{
		padding-top: 15px;
		li{
			margin-bottom: 12px;
			a{
				color:#333333;
				font-size: 16px;
				position: relative;
				display: block;
				i{
					width: 6px;
					height: 12px;
					overflow: hidden;
					background:url("../images/arrow_r_1.png")  no-repeat top center;
					position: absolute;
					top:50%;
					margin-top: -6px;
					right: 5px;
					visibility: hidden;
					opacity: 0;
					transition: all 0.25s ease-out; 
				}
				&:hover{
					color:#92764a;
					text-decoration: none;
					i{
						right: 0px;
						opacity: 1;
						visibility: visible;
					}
				} 
			}
			&.current{
				a{
					color:#92764a;
					i{
						right: 0px;
						visibility:visible;
						opacity:1;
					}
				}
			}
		}
	}
}

.goodshop-main{
	.soma-hd{
		line-height: 30px;
		padding-top:10px; 
		.tit{
			float: left;
			font-size: 20px;
			color:#333333; 
		}
		.rank{
			float:left;
			height: 16px;
			line-height: 16px;
			background:#df8047;
			border-radius:2px;
			font-family:arial;
			padding: 0 3px;
			color:#fff; 
			margin-top:8px;
			margin-left: 13px; 
		}
		.time{
			font-size: 12px;
			float: right;
			color:#999999; 
		}
	}
	/**
	 * 828-28=800
	 * 
	 */
	.rank-list{
		// padding:0 24px 0 14px; 
		.cols{
			float: left;
			text-align: center;
			&.cols-1{
				padding-left: 14px;
				width: 60px;
			}
			&.cols-2{
				width: 305px;
			}
			&.cols-3{
				width: 60px;
			}
			&.cols-4{
				width: 60px;
			}
			&.cols-5{
				width: 60px;
			}
			&.cols-6{
				width: 95px;
			}
			&.cols-7{
				width: 70px;
			}
			&.cols-8{
				width: 80px;
				padding-right: 24px;
			}
		}
	}
	.rank-list-tit-seat{
		height: 48px;
		line-height: 48px;
		margin-top:15px; 
	}
	.rank-list-tit{
		background:#f9f9f9;
		height: 48px;
		line-height: 48px;
		border:1px solid #eeeeee;
		color:#777777;  
	}
	.rank-list-info{
		color:#333333;
		li{
			border-bottom:1px solid #dddddd;
			line-height: 18px; 
		} 
		.zs{
			color:#92764a; 
		}
		.cols{
			padding:15px 0;
		}
		.num{
			border-radius: 100%;
			width:18px;
			height: 18px;
			line-height: 18px;
			text-align: center;
			color:#fff;
			background:#beb8b0;
			display: block;
			font-family:arial;
			margin: 0 auto;
			&.first{
				background:#df8047; 
			}
			&.second{
				background:#dda072; 
			}
			&.third{
				background:#deaf97; 
			}    
		}
		.name{
			@extend %text-overflow;
		}
	}
}